:root {
  --main-bg-color: #2F343A;
  --main-text-color: #ffffff;
  --additional-bg-color: #C8A35F;
}

body {
  margin: 0;
  background: var(--main-bg-color);
  font-family: Roboto;
  color: var(--main-text-color);

  font-size: 18px;
}

/* Блок "first-header" */
.fisrt-header {
  background-color: var(--additional-bg-color);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fisrt-header__languages-page,
.fisrt-header__phone-number,
.fisrt-header__email {
  margin: 3vh 0;
}

/* Блок "languages-page" */
.languages-page {
  text-transform: uppercase;
  font-size: 0.8em;
}

.languages-page__lang {
  display: none;
}

.languages-page__name-lang {
  margin: 0 3px;
  opacity: 0.7;
  cursor: pointer;
}
.languages-page__lang:checked ~ .languages-page__name-lang {
  opacity: 1;
}

/* Блок "phone-number" и "email" */
.phone-number,
.email {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 0.8em;
}

.phone-number:hover,
.email:hover {
  opacity: 0.7;
}

/* Блок "second-header" */
.second-header {  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-header__logo {
  margin: 3vh 0;
  margin-left: 10vw;
}

.second-header__line {  
  width: 1px;
  height: 6vh;
  margin: 0 2vw;

  background-color: #fff;
}

.second-header__our-office{
  margin-right: 2vw;
}

.second-header__nav {
  margin: 3vh 10vw 3vh 0;
  

  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

/* Блок "logo" */
.logo-image {
  width: 100%;
}

/* Блок "our-office" */
.our-office {
  display: flex;
  align-items: center;  
  text-decoration: none;
}

.our-office:hover {
  opacity: 0.7;
}

.our-office__placeholder {
  height: 100%;
}

.our-office__text {
  color: var(--main-text-color);
  font-size: 0.8em;
}

/* Блок "nav" */
.nav {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 1vw;

  font-size: 0.9em;

  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.nav__link:hover {
  opacity: 0.7;
}

/* Блок "first-screen" */
.first-screen {
  background: url(img/Rectangle\ 2.jpg) center / cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-screen__border {  
  width: 60vw;
  height: 35vh;
  margin: 11vh 0;
  padding: 3vh 3vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  text-align: center;
  border: 1px solid var(--additional-bg-color);
}

.first-screen__heading {
  margin: 0;
  
  text-transform: uppercase;
  font-size: 3.3em;
}

.first-screen__clarification {
  margin: 0;

  font-size: 1.1em;
}

.first-screen__mouse {
  margin: 6vh 0 3vh;
}